body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ancor_registrarse {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 12px;
  text-decoration: none;
}

.ancor_registrarse:hover {
  text-decoration: underline;
}

.betewen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_praimary {
  background-color: #6668f3;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_praimary:hover {
  background-color: #5659f3;
  padding: 10px 22px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #dee2e6;
}

table th {
  background-color: #6777ef;
  color: #fff;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #f8f8f8;
}


h2 {
  text-align: center;
  color: #6777ef;
  font-size: 28px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 52%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6777ef;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5566cc;
}

p {
  text-align: center;
  color: #555;
  margin-top: 20px;
  font-size: 18px;
}

p a {
  color: #6777ef;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  margin: 10px 120px;
}

.container-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-videos{
  display: flex;
  flex-direction: column;
  gap: 62px;
}

ul {
  max-width: 600px;
}

li {
  line-height: 1.6;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 20px;
  margin: 0;
}